<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @log.user_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @log.weight %>
</p>

<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
