<!DOCTYPE html>
<html>
<head>
  <title>TogetherLess</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to image_tag("logo.png", alt: "Home", id: "navLogo"), home_path %>
  <h1 id="navTitle">Title</h1>
</nav>
<section>
    <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
    <% end %>
</section>
<% if user_signed_in? %>
    signed in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
